<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/confirmation.css" />
    <title>Confirmation</title>
    <meta name="description" content="Account Creation Confirmation page ">
</head>
<body>
<section class="page-background">
    <div class="content-background">
        <img class="content-image" src="/images/clipart1406570.png" alt="Image Result For Confetti Emoji - Party Emoji Svg @clipartmax.com" />
        <h2 class="confirmation-title">Your account has been created!</h2>
        <p class="confirmation-description">You should be able to login to your account and access all the tools you need to reach financial success!</p>
    </div>
</section>
</body>
</html>
